@import 'helpers/mixins';
@import 'helpers/variables';
@import 'layout/header';
@import 'layout/slider';
@import 'layout/news';
@import 'layout/error404';
@import 'layout/footer';
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
li,
hr,
strong,
b,
input,
select,
textarea,
.highcharts-title,
.highcharts-axis-labels,
.highcharts-yaxis-title {
    @include reset;
}

body {}

::-webkit-scrollbar {
    width: 5px;
    height: 2px;
}

::-webkit-scrollbar-track {
    background: #D9D9D9;
}

::-webkit-scrollbar-thumb {
    background-color: $orange;
    cursor: pointer;
}

.che-box {
    @include check-box;
}

textarea.form-control {
    height: 160px;
    resize: none;
}

section {
    @include section;
}

.tagtext {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: $orange;
    font-size: 12px;
    color: $white;
    line-height: 19px;
    padding: $com-spacing-1 $com-spacing-3;
    border-radius: 60px;
}

.title {
    @include title;
}

.bottom {
    @include bottom;
}

.alert {
    display: flex;
    align-items: center;
    border: $zero;
    margin: $zero;
    margin-top: $com-spacing-4;
    padding: $com-spacing-4;
    border-radius: 4px;
    height: 60px;
    strong {
        margin-left: $com-spacing-2;
        color: #856404;
    }
    a {
        text-decoration: underline;
        color: $white;
        font-weight: 400;
        &:hover {
            text-decoration: $none;
        }
    }
    .text-mass {
        margin: $zero !important;
        margin-right: $com-spacing-3 !important;
    }
    p {
        color: $white;
        margin: $zero !important;
    }
    &.alert-success {
        background: linear-gradient(303.91deg, #1F7A66 7.57%, #60B3A7 94.39%);
    }
    &.alert-danger {
        background: linear-gradient(303.91deg, #C24848 7.57%, #D34A4A 94.39%);
    }
}

.contant {
    position: absolute;
    left: $zero;
    bottom: $zero;
    width: $fullwidth;
    padding: $com-spacing-9 $com-spacing-4 $com-spacing-4 $com-spacing-4;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    .title {
        color: $white;
        font-size: 24px;
        margin-top: $com-spacing-3;
    }
    .date {
        display: flex;
        align-items: center;
        color: #bfbfbf;
        margin-top: 8px;
        font-weight: 300;
        font-size: 14px;
        svg {
            margin-left: $com-spacing-1
        }
    }
}

.form-control {
    @include input
}

select.form-control {
    -webkit-appearance: none;
    background: $white url(../images/arrow.svg) no-repeat;
    background-position: $com-spacing-3 center;
    @include transition(all 0.5s ease-in-out 0s);
}

.map-back {
    @include map-back;
}

.maplink {
    @include maplink;
}

.pagination {
    width: $fullwidth;
    margin-top: $com-spacing-7;
    justify-content: center;
    overflow: hidden;
    @media (max-width: 999px) {
        margin-top: $com-spacing-6;
        padding-bottom: $com-spacing-3;
        overflow-x: scroll;
        justify-content: flex-start;
    }
    li {
        display: $inline;
        margin: $zero $com-spacing-2;
        a,
        span {
            @include flex;
            text-align: center;
            color: $blak;
            @include border-radius(16px !important);
            min-width: 44px;
            height: 44px;
            border: $zero;
            background: #E6E6E6;
            @include transition(all 0.5s ease-in-out 0s);
            color: #8B8B8B;
        }
        svg {
            width: 12px;
            height: 12px;
            @include transition(all 0.5s ease-in-out 0s);
        }
        &:first-child,
        &:last-child {
            min-width: 84px;
            a {
                color: $orange;
                font-size: 12px;
                svg {
                    max-width: 12px;
                    height: 12px;
                    fill: $orange;
                }
            }
        }
        &:last-child {
            margin-left: $zero;
            svg {
                transform: rotate(90deg);
                margin-right: $com-spacing-1;
            }
        }
        &:first-child {
            margin-right: $zero;
            svg {
                transform: rotate(-90deg);
                margin-left: $com-spacing-1;
            }
        }
    }
    .page-link.active,
    .page-link:hover {
        background: $orange !important;
        color: $white !important;
        svg {
            fill: $white;
        }
    }
}

.advertising-banner {
    .line {
        position: relative;
        width: $fullwidth;
        &::before {
            content: '';
            position: absolute;
            left: $zero;
            width: calc(100% - 84px);
            height: 1px;
            background: #e8e8e8;
            top: $com-spacing-4;
        }
        p {
            position: relative;
            display: inline-block;
            font-size: 12px;
            font-weight: 400;
            transition: all 0.5s ease-in-out;
        }
    }
    a {
        display: block;
    }
    img {
        max-width: $fullwidth
    }
}

.social {
    @include social;
}

.minhead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 767px) {
        flex-wrap: wrap;
    }
    .title {
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-left: $com-spacing-2;
        }
    }
    select.form-control {
        max-width: 200px;
    }
    .social {
        margin-top: $com-spacing-3;
        a {
            margin: $zero !important;
            margin-right: $com-spacing-2 !important;
            &:last-child {
                margin: $zero !important;
            }
            svg {
                fill: $dark
            }
        }
    }
}

.slider-loader {
    @include flex;
    position: absolute;
    left: $zero;
    right: $zero;
    width: 40px;
    height: $fullwidth;
    margin: $zero auto;
    z-index: 10;
    .spinner {
        width: 40px;
        height: 40px;
        border: 4px solid $ofwhite;
        border-top: 4px solid $orange;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

.slick-loading {
    visibility: hidden;
}

.slick-loaded {
    visibility: visible;
    transition: visibility 0s 0s, opacity 0.3s ease;
}