 .error404 {
     @include section;
     @include flex;
     height: 600px;
     text-align: center;
     background: $ofwhite;
     .title {
         font-size: 150px !important;
         color: $blak;
         width: $fullwidth;
         text-align: center;
     }
     p {
         color: $blue;
         font-size: 24px;
         margin-top: 72px
     }
     .bottom {
         @include bottom;
         float: $none;
         display: inline-flex;
         margin-top: $com-spacing-7;
         box-shadow: 0px 2px 17px rgba(73, 73, 73, 0.1);
         padding: $com-spacing-3 $com-spacing-5;
         @include border-radius(60px);
     }
 }
 
 //* End Error404