.occasions__item {
    background: $white;
    .slider-occasions {
        @include styleslider;
        margin-top: $com-spacing-6;
        @media (max-width: 999px) {
            margin-top: $com-spacing-3;
        }
        .slick-prev,
        .slick-next {
            display: none !important;
        }
    }
    .item {
        direction: rtl;
        display: inline-block;
        align-items: center;
        margin: $zero $com-spacing-2;
        padding: $com-spacing-3;
        background: $ofwhite;
        border-radius: 12px;
        border: 1px solid #ff760b38;
        @include transition(all 0.5s ease-in-out 0s);
        &:hover {
            border: 1px solid $orange;
            .photo {
                &::after {
                    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 106%, 0);
                    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 106%, 0)
                }
                img {
                    @include scale(1.15);
                }
            }
        }
        .photo {
            display: block;
            position: relative;
            background: $orange;
            width: $fullwidth;
            height: 240px;
            overflow: hidden;
            border-radius: 12px;
            &::after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, .5);
                content: '';
                z-index: 1;
                -webkit-transition: -webkit-transform .6s;
                transition: -webkit-transform .6s;
                -o-transition: transform .6s;
                transition: transform .6s;
                transition: transform .6s, -webkit-transform .6s;
                -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -106%, 0);
                transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -106%, 0);
                @media (max-width: 999px) {
                    display: none;
                }
            }
            img {
                width: $fullwidth;
                height: $fullwidth;
                object-fit: cover;
                @include transition(all 0.5s ease-in-out 0s);
            }
        }
        .title {
            display: block;
            font-size: 18px;
            font-weight: 500;
            text-align: center;
            margin-top: $com-spacing-3
        }
        .date {
            @include flex;
            color: #646363;
            margin-top: $com-spacing-2;
            font-size: 14px;
            svg {
                margin-left: $com-spacing-1
            }
        }
    }
    &.custitems,
    &.samemonth {
        .rowbox {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: $com-spacing-4;
            margin-top: $com-spacing-6;
            @media (max-width: 999px) {
                grid-template-columns: 1fr 1fr;
                margin-top: $com-spacing-3;
            }
            @media (max-width: 767px) {
                grid-template-columns: 1fr;
            }
        }
        .item {
            margin: $zero;
        }
    }
    &.samemonth {
        .title {
            span {
                color: $orange;
            }
        }
        .rowbox {
            grid-template-columns: repeat(4, 1fr);
            @media (max-width: 999px) {
                grid-template-columns: 1fr 1fr;
            }
            @media (max-width: 767px) {
                grid-template-columns: 1fr;
            }
        }
    }
}

.occasions__calendar {
    background: $ofwhite;
    .calendar {
        direction: ltr;
        width: $fullwidth;
        background: $white;
        border-radius: 12px;
        margin-top: $com-spacing-6;
        overflow: hidden;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    .minheader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $dark;
        color: $white;
        padding: $com-spacing-3;
    }
    #monthYear {
        color: $white;
        font-size: 20px;
    }
    .minheader button {
        background: #ffffff33;
        border: none;
        color: $white;
        padding: $com-spacing-1 $com-spacing-3;
        border-radius: 5px;
        cursor: pointer;
    }
    .scroll {
        width: $fullwidth;
        @media (max-width: 999px) {
            overflow-x: scroll;
        }
    }
    table {
        width: $fullwidth;
        border-collapse: collapse;
        text-align: center;
    }
    th {
        background: #03045e14;
        padding: $com-spacing-3;
        font-weight: 400;
    }
    td {
        width: 14.2%;
        height: 100px;
        border: 1px solid #eee;
        vertical-align: top;
        position: relative;
        padding: 5px;
    }
    .day-number {
        font-weight: bold;
        margin-bottom: 5px;
    }
    .event {
        display: block;
        background: $orange;
        color: $white;
        padding: 2px 5px;
        margin: 2px 0;
        font-size: 14px;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
    }
}

.application-item {
    display: flex;
    align-items: center;
    min-height: 400px;
    background: $dark url(../images/application.png) no-repeat center center/cover;
    @media (max-width: 999px) {
        padding: $com-spacing-8 $zero !important;
        min-height: inherit;
    }
    .download {
        text-align: center;
        max-width: 50%;
        @media (max-width: 999px) {
            max-width: $fullwidth;
        }
        .title {
            text-align: center;
            color: $white;
            margin-bottom: $com-spacing-3;
            @media (max-width: 999px) {}
            span {
                display: block;
                margin-top: $com-spacing-3;
                color: $orange;
                font-size: 18px;
            }
        }
        .app-icons {
            @include flex;
            a {
                margin: $zero $com-spacing-1;
                img {
                    min-width: 117px;
                    max-width: 120px;
                    height: 38px;
                    @include transition(all 0.5s ease-in-out 0s);
                    @media (max-width: 999px) {}
                }
            }
        }
    }
    .photo {
        position: absolute;
        top: -107px;
        left: $zero;
        max-width: 50%;
        @media (max-width: 999px) {
            display: none;
        }
        img {
            max-width: $fullwidth;
        }
    }
}

.diwaniya__item {
    background: $ofwhite;
    .rowbox {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: $com-spacing-4;
        margin-top: $com-spacing-6;
        @media (max-width: 999px) {
            grid-template-columns: 1fr 1fr;
            margin-top: $com-spacing-3;
        }
        @media (max-width: 767px) {
            grid-template-columns: 1fr;
        }
    }
    .item {
        position: relative;
        border-radius: 10px;
        padding: $com-spacing-4;
        padding-right: $com-spacing-7;
        background: $white;
        border: 1px solid #ff760b38;
        overflow: hidden;
        @include transition(all 0.5s ease-in-out 0s);
        &:hover {
            border: 1px solid $orange;
        }
        &::before {
            content: "";
            position: absolute;
            right: $zero;
            top: $zero;
            width: 22px;
            height: $fullwidth;
            background: $orange url(../images/bg.png) no-repeat center center/cover;
        }
        .title {
            font-size: 18px;
            font-weight: 500;
        }
        p {
            margin-top: $com-spacing-2;
        }
        .date {
            display: flex;
            align-items: center;
            color: #646363;
            margin-top: $com-spacing-2;
            font-size: 14px;
            svg {
                margin-left: $com-spacing-1
            }
        }
    }
}

.offers-item {
    .rowbox {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: $com-spacing-4;
        margin-top: $com-spacing-6;
        @media (max-width: 999px) {
            grid-template-columns: 1fr 1fr;
            margin-top: $com-spacing-3;
        }
        @media (max-width: 767px) {
            grid-template-columns: 1fr;
        }
    }
    .item {
        height: 460px;
        border-radius: 12px;
        cursor: pointer;
        overflow: hidden;
        @media (max-width: 999px) {
            height: 300px;
        }
        img {
            width: $fullwidth;
            height: $fullwidth;
            object-fit: cover;
        }
    }
}

.modal-dialog {
    max-width: 850px;
    &.modal-cus {
        max-width: 550px;
    }
    .modal-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .btn-close {
            margin: $zero;
            padding: $zero;
            font-size: 20px;
        }
    }
    .note {
        font-weight: 300;
        margin-bottom: $com-spacing-6;
        span {
            display: block;
            color: $orange;
            font-size: 20px;
        }
    }
    .field {
        position: relative;
        width: $fullwidth;
        margin-bottom: $com-spacing-4;
        &:last-child {
            margin: $zero;
        }
        .icon {
            position: absolute;
            left: $com-spacing-3;
            top: $com-spacing-2;
            svg {
                width: 24px;
                height: 24px;
            }
        }
        .custom-file-input {
            display: none;
        }
        .custom-file-label,
        .custom-file-input {
            right: $com-spacing-3;
            width: $fullwidth;
            outline: $zero !important;
            height: 48px;
            border: 1px solid #dee2e6;
            background: $white;
            @include border-radius(0.375rem);
            color: $blak;
        }
        .custom-file-input:focus~.custom-file-label {
            border-color: $orange!important;
        }
        .custom-file-input {}
        .custom-file-label {
            display: flex;
            align-items: center;
            margin: $zero;
            padding-right: 108px;
            box-shadow: none !important;
            outline: 0 !important;
            outline-style: none !important;
            font-weight: 300;
            color: $colortext;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .custom-file-input:lang(en)~.custom-file-label::after {
            content: "تحميل صورة";
            position: absolute;
            right: .75rem;
            background: $none;
            height: 48px;
            border: $zero;
            padding: $zero;
            display: flex;
            align-items: center;
        }
    }
    .modal-footer {
        justify-content: center;
        .bottom {
            margin: $zero;
            min-width: 100px;
        }
        .btncus {
            margin-left: $com-spacing-3;
            background: $orange;
            color: $white;
        }
    }
    .photo {
        width: $fullwidth;
        height: 500px;
        border-radius: 12px;
        overflow: hidden;
        @media (max-width: 999px) {
            height: 300px;
        }
        img {
            width: $fullwidth;
            height: $fullwidth;
            object-fit: cover;
        }
    }
    .date {
        display: flex;
        align-items: center;
        color: #646363;
        margin-top: $com-spacing-3;
        font-size: 14px;
        svg {
            margin-left: $com-spacing-1
        }
    }
}

.capital-governorate,
.offers-news {
    overflow: inherit;
    .container {
        display: grid;
        grid-template-columns: 1fr 400px;
        gap: $com-spacing-6;
        align-items: flex-start;
        @media (max-width: 999px) {
            grid-template-columns: 1fr;
            gap: $com-spacing-3;
        }
    }
    .item {
        &.bg {
            position: sticky;
            top: 100px;
            background: $ofwhite;
            padding: $com-spacing-6;
            border-radius: 12px;
        }
        .minhead {
            .title {
                margin-top: $com-spacing-3;
            }
        }
        .date {
            display: flex;
            align-items: center;
            color: #646363;
            margin-top: $com-spacing-2;
            font-size: 14px;
            svg {
                margin-left: $com-spacing-1
            }
        }
        .icon {
            display: flex;
            align-items: center;
            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-left: $com-spacing-2;
            }
            p {
                color: $orange;
            }
        }
        nav {
            a {
                display: flex;
                align-items: center;
                background: $white;
                border-radius: 12px;
                padding: $com-spacing-3;
                border: 1px solid #ff760b38;
                @include transition(all 0.5s ease-in-out 0s);
                margin-top: $com-spacing-3;
                @media (max-width: 767px) {}
                &:hover {
                    border: 1px solid $orange;
                }
                img {
                    width: 70px;
                    height: 70px;
                    margin-left: $com-spacing-2;
                }
                p {
                    color: $blak;
                }
            }
        }
        .photo {
            position: relative;
            width: $fullwidth;
            height: 500px;
            border-radius: 12px;
            margin-top: $com-spacing-6;
            overflow: hidden;
            @media (max-width: 999px) {
                height: 300px;
            }
            img {
                width: $fullwidth;
                height: $fullwidth;
                object-fit: cover;
            }
        }
    }
    .bgnews {
        background: $ofwhite;
        padding: $com-spacing-6;
        border-radius: 12px;
        @media (max-width: 999px) {
            padding: $com-spacing-3;
        }
        nav {
            a {
                border-radius: $zero;
                padding: $zero;
                background: $none;
                padding-bottom: $com-spacing-3;
                border: $zero !important;
                border-bottom: 1px solid #ff760b38 !important;
                &:hover {
                    p {
                        color: $orange;
                    }
                }
                &:last-child {
                    padding: $zero;
                    border: $zero !important;
                }
                img {
                    width: 120px;
                    height: 120px;
                    object-fit: cover;
                    border-radius: 12px;
                    margin-left: $com-spacing-3;
                    @media (max-width: 999px) {
                        width: 100px;
                        height: 100px;
                    }
                }
                p {
                    @include transition(all 0.5s ease-in-out 0s);
                }
            }
        }
    }
    .mostpopular {
        margin-top: $com-spacing-6;
        @media (max-width: 999px) {
            margin-top: $com-spacing-3;
        }
        .numbered-news {
            margin: $zero;
            padding: $zero;
            li {
                position: relative;
                counter-increment: news-counter;
                padding: $com-spacing-4 78px $com-spacing-4 $zero;
                border-bottom: 1px solid #ff760b38;
                &:hover {
                    .title {
                        color: $orange;
                    }
                }
                &:last-child {
                    border-bottom: $zero;
                    padding-bottom: $zero;
                }
                @media (max-width: 999px) {
                    min-width: $fullwidth;
                    max-width: $fullwidth;
                }
                &::before {
                    content: counter(news-counter, decimal-leading-zero) "";
                    position: absolute;
                    top: 30px;
                    right: $zero;
                    font-size: 50px;
                    font-weight: 400;
                    color: $orange;
                }
                .title {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    font-size: 18px;
                    @include transition(all 0.5s ease-in-out 0s);
                    @media (max-width: 999px) {
                        -webkit-line-clamp: 3;
                    }
                }
            }
        }
    }
}

.offers-news {
    .item {
        &:last-child {
            position: sticky;
            top: 100px;
        }
    }
}

.newscapital__item {
    // background: $ofwhite;
    .rowbox {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: $com-spacing-4;
        @media (max-width: 999px) {
            grid-template-columns: 1fr 1fr;
            gap: $zero;
        }
        @media (max-width: 767px) {
            grid-template-columns: 1fr;
        }
    }
    .item {
        background: $white;
        border-radius: 12px;
        padding: $com-spacing-3;
        text-align: center;
        border: 1px solid #ff760b38;
        @include transition(all 0.5s ease-in-out 0s);
        margin-top: $com-spacing-6;
        @media (max-width: 999px) {
            padding: $com-spacing-3;
            margin-top: $com-spacing-3;
        }
        &:hover {
            border: 1px solid $orange;
            .photo {
                &::after {
                    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 106%, 0);
                    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 106%, 0)
                }
                img {
                    @include scale(1.15);
                }
            }
        }
        .photo {
            position: relative;
            display: block;
            width: $fullwidth;
            height: 220px;
            border-radius: 12px;
            overflow: hidden;
            &::after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, .5);
                content: '';
                z-index: 1;
                -webkit-transition: -webkit-transform .6s;
                transition: -webkit-transform .6s;
                -o-transition: transform .6s;
                transition: transform .6s;
                transition: transform .6s, -webkit-transform .6s;
                -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -106%, 0);
                transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -106%, 0);
                @media (max-width: 999px) {
                    display: none;
                }
            }
            img {
                width: $fullwidth;
                height: $fullwidth;
                object-fit: cover;
                @include transition(all 0.5s ease-in-out 0s);
            }
        }
        .title {
            display: block;
            font-size: 18px;
            margin-top: $com-spacing-3;
            text-align: center;
            @include transition(all 0.5s ease-in-out 0s);
            &:hover {
                color: $orange;
            }
        }
        .date {
            @include flex;
            color: #646363;
            margin-top: $com-spacing-2;
            font-size: 14px;
            svg {
                margin-left: $com-spacing-1
            }
        }
    }
}

.occasions__details {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $com-spacing-4;
        @media (max-width: 999px) {
            grid-template-columns: 1fr;
            gap: $zero;
        }
    }
    .item {
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        @media (max-width: 999px) {
            margin-bottom: $com-spacing-3;
            &:last-child {
                margin: $zero;
            }
        }
        .textnew {
            position: absolute;
            top: -68px;
            left: -22px;
            width: 100px;
            height: 160px;
            background: $green;
            @include rotate(50deg);
            p {
                color: $white;
                @include rotate(-50deg);
                margin: 74px 0px 0px 40px;
                font-size: 14px;
                text-align: center;
                line-height: 18px;
            }
        }
        img {
            width: $fullwidth;
            height: 500px;
            object-fit: cover;
            @media (max-width: 999px) {
                height: 300px;
            }
        }
        .minhead {
            border-bottom: 1px solid #ebebeb;
            padding-bottom: $com-spacing-3;
        }
        .social {
            a {
                display: flex;
                align-items: center;
                background: $white;
                border-radius: 12px;
                padding: $com-spacing-2;
                border: 1px solid #ff760b38;
                @include transition(all 0.5s ease-in-out 0s);
                @media (max-width: 767px) {}
                &:hover {
                    border: 1px solid $orange;
                }
            }
        }
        p {
            line-height: 32px;
            margin-top: $com-spacing-4;
            span {
                color: $orange;
            }
        }
        .contacts {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            li {
                display: flex;
                align-items: center;
                margin: $com-spacing-6 $zero $zero $com-spacing-8;
                &:last-child {
                    margin-left: $zero;
                }
                svg,
                img {
                    fill: $orange;
                    min-width: 18px;
                    min-height: 18px;
                    margin-left: $com-spacing-1;
                }
            }
        }
    }
}

.itemsearch {
    position: relative;
    margin-top: -50px;
    padding: $zero $com-spacing-3 $com-spacing-5 $com-spacing-3;
    @media (max-width: 999px) {
        margin-top: $com-spacing-6;
    }
    .inner {
        margin: $zero $auto;
        max-width: 1280px;
        background: $white;
        padding: $com-spacing-6 $com-spacing-7;
        border-radius: 60px;
        box-shadow: 0px 0px 14px #00000012;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: $com-spacing-4;
        @media (max-width: 999px) {
            grid-template-columns: 1fr;
            gap: $zero;
            max-width: 720px;
            padding: $com-spacing-6;
            border-radius: 0.375rem;
        }
        .title {
            display: none;
            @media (max-width: 999px) {
                display: block;
            }
        }
        .field {
            position: relative;
            width: $fullwidth;
            @media (max-width: 999px) {
                margin-top: $com-spacing-4;
            }
            .bottom {
                width: $fullwidth;
                background: $orange;
                color: $white;
                height: 48px;
                border-radius: 0.375rem;
                &:hover {
                    background: $dark;
                    border: 1px solid $dark;
                }
                svg {
                    fill: $white;
                    margin-left: $com-spacing-1;
                    min-width: 18px;
                    max-width: 18px;
                }
            }
            .icon {
                position: absolute;
                left: $com-spacing-3;
                top: $com-spacing-2;
                svg {
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }
}

.consolation__item {
    padding-top: 28px;
    @media (max-width: 999px) {
        padding-top: $com-spacing-6;
    }
    .slogan {
        color: $orange;
        margin-bottom: $com-spacing-2;
        img {
            width: 30px;
            height: 30px;
            margin-left: $com-spacing-1;
        }
    }
    .item {
        margin-top: $com-spacing-6;
        border-radius: 12px;
        border: 1px solid #ff760b38;
        overflow: hidden;
        .minhead {
            justify-content: flex-start;
            background: $dark;
            padding: $com-spacing-3;
            img {
                min-width: 40px;
                max-width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-left: $com-spacing-2;
            }
            p {
                color: $white;
            }
        }
        .list {
            a {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: $com-spacing-3;
                border-bottom: 1px solid #ff760b38;
                @include transition(all 0.5s ease-in-out 0s);
                &:hover {
                    background: $ofwhite;
                }
                &:last-child {
                    border: $zero;
                }
                .number {
                    display: flex;
                    align-items: center;
                    font-size: 18px;
                    svg {
                        margin-right: $com-spacing-1;
                        min-width: 20px;
                        max-width: 20px;
                    }
                }
            }
        }
    }
}

.consolation__inner {
    .slogan {
        color: $orange;
        margin-bottom: $com-spacing-2;
        img {
            width: 30px;
            height: 30px;
            margin-left: $com-spacing-1;
        }
    }
    .item {
        margin-top: $com-spacing-6;
        border-radius: 12px;
        border: 1px solid #ff760b38;
        overflow: hidden;
        .minhead {
            justify-content: flex-start;
            background: $dark;
            padding: $com-spacing-3;
            img {
                min-width: 40px;
                max-width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-left: $com-spacing-2;
            }
            p {
                color: $white;
            }
        }
        .details {
            display: flex;
            align-items: center;
            @media (max-width: 999px) {
                display: block;
            }
            .p-4 {
                &:last-child {
                    border-right: 1px solid #ff760b38;
                    min-width: 440px;
                    @media (max-width: 999px) {
                        border: $zero;
                        border-top: 1px solid #ff760b38;
                        min-width: $fullwidth;
                    }
                }
                .title {
                    font-size: 20px;
                }
                .map {
                    display: flex;
                    margin-top: $com-spacing-3;
                    svg {
                        margin-left: $com-spacing-1;
                    }
                }
            }
            .list {
                margin-top: $com-spacing-3;
                li {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: $com-spacing-4;
                    color: $blak;
                    font-size: 18px;
                    .icons {
                        display: flex;
                        a {
                            cursor: pointer;
                            margin-left: $com-spacing-4;
                            @media (max-width: 999px) {
                                margin-left: $com-spacing-2;
                            }
                            &:last-child {
                                margin-left: $zero;
                            }
                        }
                    }
                }
            }
        }
    }
    .comments {
        margin-top: $com-spacing-8;
        @media (max-width: 999px) {
            margin-top: $com-spacing-6;
        }
        .innerlist {
            display: flex;
            margin-top: $com-spacing-6;
            padding: $com-spacing-6;
            background: $ofwhite;
            border-radius: 12px;
            border: 1px solid #ff760b38;
            @media (max-width: 380px) {
                display: block;
            }
            .photo {
                @include flex;
                min-width: 104px;
                max-width: 104px;
                height: 104px;
                border-radius: 50%;
                background: $white;
                margin-left: $com-spacing-3;
                @media (max-width: 380px) {
                    margin: $zero;
                    margin-bottom: $com-spacing-3;
                }
                svg,
                img {
                    max-width: 60px;
                }
            }
            .title {
                font-size: 20px;
                font-weight: 400;
            }
            .date {
                display: flex;
                align-items: center;
                color: #646363;
                margin-top: $com-spacing-2;
                font-size: 14px;
                svg {
                    margin-left: $com-spacing-1
                }
            }
            p {
                margin-top: $com-spacing-2;
            }
        }
    }
}

.dawawis__item {
    .container {
        display: grid;
        grid-template-columns: 1fr 400px;
        gap: $com-spacing-6;
        align-items: flex-start;
        @media (max-width: 999px) {
            grid-template-columns: 1fr;
            gap: $com-spacing-3;
        }
    }
    .item {
        .photo {
            position: relative;
            width: $fullwidth;
            height: 400px;
            border-radius: 12px;
            overflow: hidden;
            @media (max-width: 999px) {
                height: 300px;
            }
            img {
                width: $fullwidth;
                height: $fullwidth;
                object-fit: cover;
            }
        }
    }
    .sidesearch {
        background: $ofwhite;
        padding: $com-spacing-6;
        border-radius: 12px;
        @media (max-width: 999px) {
            order: -1;
        }
        .field {
            position: relative;
            width: $fullwidth;
            margin-top: $com-spacing-4;
            @media (max-width: 999px) {}
            .bottom {
                width: $fullwidth;
                background: $orange;
                color: $white;
                height: 48px;
                border-radius: 0.375rem;
                &:hover {
                    background: $dark;
                    border: 1px solid $dark;
                }
                svg {
                    fill: $white;
                    margin-left: $com-spacing-1;
                    min-width: 18px;
                    max-width: 18px;
                }
            }
        }
    }
}

.dawawis__inner {
    &::before {
        content: "";
        position: absolute;
        right: $zero;
        top: $zero;
        width: 140px;
        height: $fullwidth;
        background: url(../images/bg2.png) no-repeat center center/cover;
        z-index: 2;
        @media (max-width: 999px) {
            width: 100px;
        }
    }
    // &::after {
    //     content: "";
    //     position: absolute;
    //     right: $zero;
    //     top: $zero;
    //     width: 50%;
    //     height: $fullwidth;
    //     background: $ofwhite;
    //     @media (max-width: 999px) {
    //         display: none;
    //     }
    // }
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $com-spacing-8;
        align-items: flex-start;
        z-index: 3;
        @media (max-width: 999px) {
            grid-template-columns: 1fr;
            gap: $com-spacing-3;
        }
    }
    .item {
        @media (max-width: 999px) {
            margin-bottom: $com-spacing-6;
            &:last-child {
                margin: $zero;
            }
        }
    }
    .icon {
        display: flex;
        align-items: center;
        img {
            width: 50px;
            height: 50px;
            margin-left: $com-spacing-2;
        }
        p {
            color: $orange;
        }
    }
    .regions {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: $com-spacing-3;
        margin-top: $com-spacing-6;
        @media (max-width: 767px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 550px) {
            grid-template-columns: repeat(2, 1fr);
        }
        a {
            @include flex;
            background: $ofwhite;
            border-radius: 12px;
            padding: $com-spacing-2 $com-spacing-3;
            border: 1px solid #ff760b38;
            @include transition(all 0.5s ease-in-out 0s);
            @media (max-width: 767px) {}
            &:hover {
                border: 1px solid $orange;
                background: $orange;
                color: $white;
            }
        }
    }
}

.dawawis__list {
    table {
        background: $none;
        margin: $zero;
        margin-top: $com-spacing-6;
        border-radius: 12px;
        overflow: hidden;
        @media (max-width: 999px) {
            white-space: nowrap;
        }
        tr:nth-of-type(odd) {
            background-color: $ofwhite
        }
        th {
            background: $orange;
            color: $white;
            font-weight: 500;
            padding: .7rem .7rem;
        }
        td {
            background: none;
            padding: .7rem .7rem;
            vertical-align: middle;
            background: none;
            border-bottom: 1px solid #ff760b38;
            &:last-child {
                width: 20%;
                @media (max-width: 999px) {
                    width: auto;
                }
            }
            a {
                color: $blak;
                @include transition(all 0.5s ease-in-out 0s);
                &:hover {
                    color: $orange;
                }
            }
        }
    }
}

.dawawis__details {
    min-height: 700px;
    @media (max-width: 999px) {
        min-height: inherit;
    }
    &::before {
        content: "";
        position: absolute;
        right: $zero;
        top: $zero;
        width: 140px;
        height: $fullwidth;
        background: url(../images/bg2.png) no-repeat center center/cover;
        z-index: 2;
        @media (max-width: 999px) {
            width: 100px;
        }
    }
    .color {
        color: $orange;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $com-spacing-8;
        align-items: flex-start;
        z-index: 3;
        @media (max-width: 999px) {
            grid-template-columns: 1fr;
            gap: $com-spacing-3;
        }
    }
    .item {
        @media (max-width: 999px) {
            margin-bottom: $com-spacing-6;
            &:last-child {
                margin: $zero;
            }
        }
        .text {
            margin-top: $com-spacing-6;
            li {
                margin-top: $com-spacing-3;
                font-size: 18px;
                color: $blak;
            }
        }
        .photo {
            position: relative;
            width: $fullwidth;
            height: 400px;
            border-radius: 12px;
            overflow: hidden;
            @media (max-width: 999px) {
                height: 300px;
            }
            img {
                width: $fullwidth;
                height: $fullwidth;
                object-fit: cover;
            }
        }
        .date {
            @include flex;
            color: $blak;
            margin-top: $com-spacing-2;
            svg {
                margin-left: $com-spacing-1
            }
        }
        nav {
            a {
                display: flex;
                align-items: center;
                background: $white;
                border-radius: 12px;
                padding: $com-spacing-2;
                border: 1px solid #ff760b38;
                @include transition(all 0.5s ease-in-out 0s);
                margin-top: $com-spacing-3;
                @media (max-width: 767px) {}
                svg {
                    fill: $dark;
                }
                &:hover {
                    border: 1px solid $orange;
                }
            }
        }
    }
}

.channelpage__item {
    &.bgvid {
        background: $ofwhite;
    }
    .rowbox {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: $com-spacing-4;
        align-items: flex-start;
        z-index: 3;
        margin-top: $com-spacing-6;
        @media (max-width: 999px) {
            grid-template-columns: 1fr 1fr;
            gap: $com-spacing-3;
            margin-top: $com-spacing-3;
        }
        @media (max-width: 550px) {
            grid-template-columns: 1fr;
        }
    }
    .channelhero-item {
        position: relative;
        @media (max-width: 999px) {
            margin-top: $com-spacing-3;
        }
        .photo {
            display: block;
            position: relative;
            height: 210px;
            border-radius: 12px;
            overflow: hidden;
            @media (max-width: 999px) {
                // height: 300px;
            }
            &:hover {
                img {
                    @include scale(1.15);
                }
            }
            i.icon-play {
                position: absolute;
                top: 50%;
                right: 0px;
                left: 0px;
                width: 64px;
                height: 64px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0px auto;
                z-index: 1;
                background: #ff67006e;
                border-radius: 12px;
                margin-top: -32px;
                @include transition(all 0.5s ease-in-out 0s);
            }
            img {
                width: $fullwidth;
                height: $fullwidth;
                object-fit: cover;
                @include transition(all 0.5s ease-in-out 0s);
            }
        }
        .title {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            padding-bottom: $com-spacing-1;
            font-size: 16px;
            margin-top: $com-spacing-3;
            @include transition(all 0.5s ease-in-out 0s);
            &:hover {
                color: $orange;
            }
        }
    }
    .view-video {
        margin: $zero $auto;
        max-width: 80%;
        @media (max-width: 999px) {
            max-width: $fullwidth;
        }
        nav {
            a {
                display: flex;
                align-items: center;
                background: $white;
                border-radius: 12px;
                padding: $com-spacing-2;
                border: 1px solid #ff760b38;
                @include transition(all 0.5s ease-in-out 0s);
                margin-top: $com-spacing-3;
                @media (max-width: 767px) {}
                &:hover {
                    border: 1px solid $orange;
                }
            }
        }
        .date {
            display: flex;
            align-items: center;
            color: #646363;
            margin-top: $com-spacing-2;
            font-size: 14px;
            svg {
                margin-left: $com-spacing-1
            }
        }
        .item-video {
            width: $fullwidth;
            height: 500px;
            background: $dark;
            border-radius: 12px;
            overflow: hidden;
            @media (max-width: 999px) {
                height: 320px;
            }
            iframe,
            video {
                display: block;
                border: $zero;
                width: $fullwidth;
                height: $fullwidth;
            }
        }
    }
}

.slideroffers__item {
    background: $ofwhite;
    .slider-offers {
        @include styleslider;
        @media (max-width: 999px) {}
        .slick-prev, .slick-next {
            display: none !important;
        }
    }
    .item {
        direction: rtl;
        display: inline-block;
        height: 460px;
        border-radius: 12px;
        margin: $zero $com-spacing-2;
        cursor: pointer;
        overflow: hidden;
        @media (max-width: 999px) {
            height: 300px;
        }
        img {
            width: $fullwidth;
            height: $fullwidth;
            object-fit: cover;
        }
    }
}

.association__item {
    .rowbox {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: $com-spacing-4;
        margin-top: $com-spacing-6;
        @media (max-width: 999px) {
            grid-template-columns: 1fr 1fr;
            gap: $com-spacing-3;
            margin-top: $com-spacing-3;
        }
        @media (max-width: 550px) {
            grid-template-columns: 1fr;
        }
    }
    .item {
        padding: $com-spacing-5;
        background: $ofwhite;
        border-radius: 12px;
        border: 1px solid #ff760b38;
        @include transition(all 0.5s ease-in-out 0s);
        &:hover {
            border: 1px solid $orange;
        }
        .photo {
            @include flex;
            position: relative;
            background: $white;
            padding: $com-spacing-2;
            margin: $zero $auto;
            width: 136px;
            height: 136px;
            overflow: hidden;
            @include prefixer (box-shadow, 4px 4px 20px #00000014, webkit moz o ms);
            border-radius: 50%;
            img {
                max-width: $fullwidth;
                max-height: $fullwidth;
                border-radius: 50%;
            }
        }
        p {
            display: block;
            font-size: 18px;
            font-weight: 500;
            text-align: center;
            margin-top: $com-spacing-5
        }
    }
}

.sliderphotos__item {
    position: relative;
    width: $fullwidth;
    padding: $zero !important;
    @media (max-width: 1199px) {}
    @media (max-width: 999px) {
        height: 400px;
    }
    .carousel {
        @include slidercarousel;
        width: $fullwidth;
        @media (max-width: 999px) {
            position: relative;
        }
    }
}

.abutphotos__item {
    background: $white url(../images/about.png) no-repeat left top;
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $com-spacing-6;
        @media (max-width: 999px) {
            grid-template-columns: 1fr;
            gap: $com-spacing-3;
        }
    }
    .item {
        display: flex;
        align-items: center;
        @media (max-width: 999px) {
            margin-bottom: $com-spacing-6;
            &:last-child {
                margin: $zero;
            }
        }
        img {
            max-width: 86%;
            @media (max-width: 999px) {
                max-width: $fullwidth;
            }
        }
    }
    .list {
        margin-top: $com-spacing-6;
        li {
            display: flex;
            align-items: flex-start;
            color: $blak;
            margin-bottom: $com-spacing-3;
            svg {
                fill: $orange;
                min-width: 22px;
                max-width: 22px;
                margin: $com-spacing-1 $zero $zero $com-spacing-3;
            }
        }
    }
    .bottom {
        min-width: 160px;
        height: 48px;
        background: $orange;
        color: $white;
        margin-top: $com-spacing-4;
        &:hover {
            background: $dark;
            border: 1px solid $dark;
        }
    }
}

.allnumber-item {
    padding: $zero !important;
    .inner {
        width: $fullwidth;
        background: $dark url(../images/application.png) no-repeat center center/cover;
        border-radius: 30px;
        padding: $com-spacing-8;
        @media (max-width: 999px) {
            padding: $com-spacing-6;
        }
        .title {
            color: $white;
        }
    }
    .bottom {
        min-width: 160px;
        height: 48px;
        background: $orange;
        color: $white;
        margin-top: $com-spacing-4;
        &:hover {
            background: $dark;
            border: 1px solid $dark;
        }
    }
    .rowbox {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: $com-spacing-6;
        @media (max-width: 999px) {
            grid-template-columns: 1fr 1fr;
            gap: $com-spacing-3;
        }
        @media (max-width: 767px) {
            grid-template-columns: 1fr;
        }
    }
    .item {
        text-align: center;
        margin-top: $com-spacing-8;
        @media (max-width: 999px) {
            margin-top: $com-spacing-6;
        }
        svg {
            width: 80px;
            height: 80px;
        }
        .timer {
            color: $white;
            font-size: 40px;
            font-weight: 600;
            text-align: center;
            margin-top: $com-spacing-4;
        }
        p {
            color: $white;
            font-size: 18px;
            margin-top: $com-spacing-4;
            text-align: center;
        }
    }
}